/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {

  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: wheat;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

/* TransactionTable.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

/* TransactionForm.css */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

/* SearchBar.css */
div {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Include these CSS files in your components */
